{% extends 'demo.html' %}
{% load static %}
      <!-- Our  Glasses section -->
   {% block banner %}
   <div class="about">
      <div class="container">
         <div class="row d_flex">
            <div class="col-md-5">
               <div class="about_img">
                  <figure><img src="{% static 'images/about_img.png' %}" alt="#"/></figure>
               </div>
            </div>
            <div class="col-md-7">
               <div class="titlepage">
                  <h2>GLASSES</h2>
                  <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text.</p>
               </div>
               <a class="read_more" href="#">Read More</a>
            </div>
         </div>
      </div>
   </div>
      <div class="glasses">
         <div class="container">
            <div class="row">
               <div class="col-md-10 offset-md-1">
                  <div class="titlepage">
                     <h2>Our Glasses</h2>
                     <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labor
                        e et dolore magna aliqua. Ut enim ad minim veniam, qui
                     </p>
                  </div>
               </div>
            </div>
         </div>
         <div class="container-fluid">
            <div class="row">
               <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6">
                  <div class="glasses_box">
                     <figure><img src="{% static 'images/glass1.png' %}" alt="#"/></figure>
                     <h3><span class="blu">$</span>50</h3>
                     <p>Sunglasses</p>
                  </div>
               </div>
               <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6">
                  <div class="glasses_box">
                     <figure><img src="{% static 'images/glass2.png' %}" alt="#"/></figure>
                     <h3><span class="blu">$</span>50</h3>
                     <p>Sunglasses</p>
                  </div>
               </div>
               <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6">
                  <div class="glasses_box">
                     <figure><img src="{% static 'images/glass3.png' %}" alt="#"/></figure>
                     <h3><span class="blu">$</span>50</h3>
                     <p>Sunglasses</p>
                  </div>
               </div>
               <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6">
                  <div class="glasses_box">
                     <figure><img src="{% static 'images/glass4.png' %}" alt="#"/></figure>
                     <h3><span class="blu">$</span>50</h3>
                     <p>Sunglasses</p>
                  </div>
               </div>
               <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6">
                  <div class="glasses_box">
                     <figure><img src="{% static 'images/glass5.png' %}" alt="#"/></figure>
                     <h3><span class="blu">$</span>50</h3>
                     <p>Sunglasses</p>
                  </div>
               </div>
               <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6">
                  <div class="glasses_box">
                     <figure><img src="{% static 'images/glass6.png' %}" alt="#"/></figure>
                     <h3><span class="blu">$</span>50</h3>
                     <p>Sunglasses</p>
                  </div>
               </div>
               <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6">
                  <div class="glasses_box">
                     <figure><img src="{%static 'images/glass7.png' %}" alt="#"/></figure>
                     <h3><span class="blu">$</span>50</h3>
                     <p>Sunglasses</p>
                  </div>
               </div>
               <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6">
                  <div class="glasses_box">
                     <figure><img src="{% static 'images/glass8.png' %}" alt="#"/></figure>
                     <h3><span class="blu">$</span>50</h3>
                     <p>Sunglasses</p>
                  </div>
               </div>
               <div class="col-md-12">
                  <a class="read_more" href="#">Read More</a>
               </div>
            </div>
         </div>
      </div>
   {% endblock %}
      <!-- end Our  Glasses section -->
     